
  <mat-card class='login'>
    <mat-card-title align="center">
        <h4>reset Password</h4>
    </mat-card-title>
     
      <mat-card-content>
    
        <form >
          <div>
            <mat-form-field class="mail-full-width">
              <input matInput placeholder="Mail-id:" [formControl]="emailFormControl" [(ngModel)]="model.email"> 
                <mat-error *ngIf="emailFormControl.hasError('required')">
                   Mail id is required
                </mat-error>

            </mat-form-field>

            <mat-form-field class="pass-full-width1">
              <input matInput placeholder="new-password:" type="password" [formControl]="passwordFormControl" [(ngModel)]="model.pass"> 
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                   new password is required
                </mat-error>
            </mat-form-field>
           
              <div> 
                <button class="pass-full-width" mat-button color type="submit" (click)="s_reset()"> <a href="/login">Submit</a> </button> 
              </div>
              <div *ngIf="Error" class="passError">
                Done!
              </div>
              <!-- <div align="center">
            
            </div> -->
            </div>
        </form>
      </mat-card-content>
   
</mat-card> 
